body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(11, 163, 11);
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button{
  margin-top: 50px;
  font: bold;
  margin-bottom: 20px;
  padding: 8px 16px;
  border: 0;
  border-radius: 5px;
  background-color: #03631b;
  color: white;
  cursor: pointer;
  
}

input{
    border-radius: 5px;
    border: 1px solid rgb(8, 8, 8);
    padding: 8px 16px;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
}

p{
  color: rgb(239, 243, 10);
  font: bold;
  font-size: large;
}

label #SongTitle{
  font: bold;
  font-size: large;
}



/* button {
  width: 60px;
  border-radius: 5px;
  height: 30px;
} */

/* input {
  border-radius: 5px;
  height: 20px;
}

#btnSearch {
  padding: 8px 16px;
  border: 0;
  border-radius: 5px;
  background-color: rgb(7, 187, 64);
  color: rgb(0, 0, 0);
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
}

#btnSelect {
  padding: 8px 16px;
  border: 0;
  border-radius: 5px;
  background-color: rgb(7, 187, 64);
  color: rgb(0, 0, 0);
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
} */
